@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
li {
  list-style: none;
}
ul {
  padding: 0;
}

.start-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
  padding: 1.5em;
}

.containerTitle {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}
