<div class="container">
  <div class="container__item">
    <form class="form">
      <input type="text" class="form__field" placeholder="Добавь сюда коротко)" name="input" />
      <button type="button" class="btn btn--primary btn--inside uppercase">Добавить</button>
    </form>
    <div class="containerTitle"></div>
    <ul class="toDoList"></ul>
    <div class="button">
      <a href="#">меня первым</a>
      <p class="top">высше задачи</p>
      <p class="bottom">;)</p>
    </div>
  </div>
</div>
